USE [master]
GO
/****** Object:  Database [BEWUX_AFERRERAS]    Script Date: 11/01/2019 4:10:49 ******/
CREATE DATABASE [BEWUX_AFERRERAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BEWUX_AFERRERAS', FILENAME = N'C:\ProgramasInstalados\SQL_SERVER\MSSQL12.MSSQLSERVER\MSSQL\DATA\BEWUX_AFERRERAS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BEWUX_AFERRERAS_log', FILENAME = N'C:\ProgramasInstalados\SQL_SERVER\MSSQL12.MSSQLSERVER\MSSQL\DATA\BEWUX_AFERRERAS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BEWUX_AFERRERAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BEWUX_AFERRERAS]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 11/01/2019 4:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NULL,
	[direccion] [text] NULL,
	[activo] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orden_detalle]    Script Date: 11/01/2019 4:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_detalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_orden] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_orden_detalle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orden_maestro]    Script Date: 11/01/2019 4:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orden_maestro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_creada] [datetime] NULL,
	[estados] [varchar](10) NULL,
 CONSTRAINT [PK_orden_maestro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productos]    Script Date: 11/01/2019 4:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](18, 2) NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [nombre], [apellido], [direccion], [activo], [fecha_creacion]) VALUES (1, N'Martin', N'Luther', N'NY, STREET #4', 1, CAST(N'2000-12-10 00:00:00.000' AS DateTime))
INSERT [dbo].[clientes] ([id], [nombre], [apellido], [direccion], [activo], [fecha_creacion]) VALUES (2, N'Abraham', N'Lincon', N'Washington, D.C.', 0, CAST(N'2018-12-10 00:00:00.000' AS DateTime))
INSERT [dbo].[clientes] ([id], [nombre], [apellido], [direccion], [activo], [fecha_creacion]) VALUES (3, N'John', N'Morgan', N'New York City, New York, United States', NULL, CAST(N'2013-01-10 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[clientes] OFF
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id], [nombre], [cantidad], [precio]) VALUES (1, N'Producto Numero 1', 10, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[productos] ([id], [nombre], [cantidad], [precio]) VALUES (2, N'Producto Numero 2', 20, CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[productos] ([id], [nombre], [cantidad], [precio]) VALUES (3, N'Producto Numero 3', 30, CAST(30.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[productos] OFF
ALTER TABLE [dbo].[orden_detalle]  WITH CHECK ADD  CONSTRAINT [FK_orden_detalle_orden_maestro] FOREIGN KEY([id_orden])
REFERENCES [dbo].[orden_maestro] ([id])
GO
ALTER TABLE [dbo].[orden_detalle] CHECK CONSTRAINT [FK_orden_detalle_orden_maestro]
GO
ALTER TABLE [dbo].[orden_detalle]  WITH CHECK ADD  CONSTRAINT [FK_orden_detalle_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[orden_detalle] CHECK CONSTRAINT [FK_orden_detalle_productos]
GO
ALTER TABLE [dbo].[orden_maestro]  WITH CHECK ADD  CONSTRAINT [FK_orden_maestro_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[orden_maestro] CHECK CONSTRAINT [FK_orden_maestro_clientes]
GO
USE [master]
GO
